@font-face {
  font-family: 'Titillium Web';
  src: url('TitilliumWeb-Regular.ttf');
}
body {
    background-color: #F7F7F7;
    font-family: "Titillium Web", sans-serif;
    font-size: 19px;
    }
html {
  scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
#intro {
  transition: left 1.5s;
  position: relative;
  z-index: 1;
  margin-top: 50px;
}
  .container {
    width: 100%;
    margin: auto;
  }
  
  .navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgba(0, 1, 2, 0.15);
    background-color: #822825;
    position: fixed;
    z-index: 5;
  }

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  
  .navbar .menu-items {
    z-index: 2;
    position: relative;
    display: flex;
  }
  
  .navbar .nav-container li {
    list-style: none;
  }
  
  .navbar .nav-container a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 0.7rem;
  }
  
  .navbar .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    padding-top: 120px;
    background-color: #822825;
    height: 100vh;
    width: 50%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    opacity: 0.95;
  }
  
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .logo {
    position: absolute;
    top: 7.5px;
    right: 15px;
    font-size: 1.2rem;
    color: #ffffff;
  }

  #gandhi {
    background-color: #822825;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: center;
    align-items: center;
  }

  .gandhi2 {
    font-size: 1.7rem;
    font-style: italic;
    color: #ffffff;
    align-items: center;
    margin-top: 30px;
  }

  .gandhi3 {
    font-size: 1.2rem;
    color: #ffffff;
    text-align: right;
    margin-left: 50%;
    margin-top: 20px;
  }

  .white {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    display: flex;
    align-items: center;
  }

  #coaching {
    flex-direction: row;
    text-align: left;
    margin-bottom: 100px;
    margin-top: 100px;
  }

  #clients1 {
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
  }

  #clients2 {
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  
  #client {
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5px;
    color: #1E1E1E;
    font-weight: 500;
    font-size: 1.5rem;
  }
  
  #coachingpicture {
    background: url(coach.png);
    background-size: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 41px;
    width: 100%;
  }

  .kontakt {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("kontakt.png");
    background-color: #1E1E1E;
  }

  #kontakt {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 80%;
    color: #E5E5E5;
  }

  #kontakt2 {
    padding-top: 10px;
    font-weight: 500;
  }

  #map {
    margin-top: 50px;
    width: 100%;
  }

  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  

  .intro_bg {
    background-color: #6E1E1B;
    color: #ffffff;
    font-size: 1.5rem;
    padding-top: 50px;
    padding-bottom: 50px; 
}

  .grey {
    background-color: #2B2B2B;
    color: #ffffff;
    font-size: 1.5rem;
    padding-bottom: 100px;
}

  .happygroup {
    background: url(group_1.png);
    background-size: 100%;
    background-position-y: 20px;
    height: 500px;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-self: left;
  }

  .greyimage {
    width: 90%;
  }


  .intro {
    flex-direction: column;
    text-align: left;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 7.8%;
    width: 50%;
    justify-content: center;
  }

  .staray {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    width: 35%;
  }

  .abouts {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-right: 30px;
    padding-top: 50px;
    width: 50%;
  }

.about {
    color: #000000;
    justify-content: center;
}
.quote_bg {
    background-color: #5D0000;
}


.left {
    align-items: left;
}

.right { 
    text-align: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
}

#stara {
    position: relative;
    top: -175px;
  }

#redspec {
    position: relative;
    top: -470px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  
.redspec {
    background-color: #5F1A1A;
    opacity: 0.85;
    
}

#listing {
  padding-bottom: 33px;
  padding-top: 31px;
}

h4 {
  color: #ffffff;
  font-weight: 400;
  font-size: 1.3rem;
}

h1
{
  color: #BF2E2E;
  font-weight: 800;
  font-size: 1.6rem;
}

h3 {
  color: #E5E5E5;
  font-weight: 800;
  font-size: 1.9rem;
}

h5
{
  color: #BF2E2E;
  font-weight: 400;
  font-size: 1.5rem;
}
 
.footer {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: row;
  width: 100%;
  margin-top: 50px;
  justify-content: center;
}

#footer1 {
  text-align: left;
  font-size: 0.8rem;
  width: 80%;
} 

#footer2 {
  display: flex;
  align-items: right;
  align-content: flex-end;
  align-self: flex-end;
  width: 20%;
} 

.footer3 {
  height: 30px;
}

.footer-anchor{
  margin-left: 20px;
}

#footer4 {
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 50px;
} 


.board {
  position: relative;
  top: -250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: right;
  width: 100%;
  justify-content: right;
}

.board2 {
  position: relative;
  top: -100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: left;
  width: 100%;
  justify-content: left;
}

#gordo
{
  width: 100%;
}

.boardinfo {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 5%;
  padding-right: 7px;
  width: 45%;
}

.boardinfo2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 5%;
  padding-left: 7px;
  width: 37%;
}

.boardpicture {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 7%;
  width: 40%;
}

.boardpicture2 {
  display: flex;
  flex-direction: column;
  margin-right: 7%;
  text-align: left;
  width: 45%;
}

.icon {
  width: 60px;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-right: 50px;

}

.redspec-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 50%;
}

#understara {
    padding-top: 10px;

}

.scroll-tracker {
    position: fixed;
    inset: 0 0 auto;
    height: 0.25rem;
    background-color: #7E2828;
    transform-origin: left;
}

