body {
    background-color: #F7F7F7;
    font-family: "Titillium Web", sans-serif;
    font-size: 19px;
    }
html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#founders {

  padding-top: 60px
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


@media only screen and (max-width: 700px) {
.logo {
  right: 3% !important;
}
#kontakt-us {
  padding-top: 40px;
}
body {
  font-size: 16px !important;
  }

.navbar .menu-items {
  width: 80% !important;

}
.intro_bg
{
  background-image: url(/intro.png) !important;
  background-position: center;
  font-size: 1.2rem !important;
  background-size: cover;
  padding-top: 175px !important;
  padding-bottom: 17.5px !important;
  background-position-y: 20px;
}
.intro {
  padding-left: 7.8% !important;
  width: 90% !important;
  padding-bottom: 12.5px !important;
  padding-top: 12.5px !important;
  padding-right: 10px !important;
  background-color: #222222;
  opacity: 0.75 !important;
}

.icon {
  width: 45px !important;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
  margin-right: 30px !important;
}

h4 {
  font-size: 1.2rem !important;
}

.abouts {
  padding-right: 0% !important;
  padding-left: 2.5% !important;
  padding-top: 35px !important;
  width: 90% !important;
  margin-bottom: 40px !important;
}

.redspec-line {
  width: 80% !important;
}

.redspec {
  opacity: 1 !important;
}

.happygroup {
  background-size: 130% !important;
  height: 350px !important;
}

#redspec {
  top: -350px !important;
  margin-bottom: -60px;
  margin-top: 50px;
}
#clients {
  margin-top: 60px
}
.staray {
  display: none !important;
}

.boardinfo {
  margin-left: 2.5% !important;
  padding-right: 5% !important;
  width: 90% !important;
}

.board {
  top: -300px !important;
  justify-content: left !important;
}
#clients {
  background-size: 150% !important;
  position: relative;
  top: -250px;
}
#contact {
  margin-top: 100px !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

#clients1 {
  padding-top: 60px !important;
}

.boardpicture {

  display: none !important;
}
.boardpicture3 {
  display: block !important;
  margin-top: 30px !important;
  margin-left: 0% !important;
  width: 100% !important;
  position: relative;
  top: -30px;
}

.boardpicture2 {

margin-right: 0% !important;
width: 100% !important;
margin-bottom: 35px !important;
}

.boardinfo {

  padding-left: 5% !important;
  width: 100% !important;
}

.boardinfo2 {

  padding-left: 7.5% !important;
  width: 100% !important;

}
.board2 {
  top: -272px !important;
}

#coaching {

  margin-top: 50px !important;
  top: -175px !important;
  position: relative;
  margin-bottom: -60px
}

.white {
  margin-left: 7.5% !important;
  top: -170px !important;
  position: relative;
  margin-right: 5% !important;
  width: 85% !important;

}
.grey {
  background-color: #ffffff !important;
}

#coachingpicture {
  display: none !important;
}

#gandhi {
  top: -200px !important;
  position: relative;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  text-align: center !important;
}

#gandhi2 {
  width: 80% !important;
  text-align: unset !important;

}

.gandhi3 {
  width: 80% !important;
  text-align: left !important;
  font-size: 1.1rem !important;

}

.gandhi2 {
  margin-top: 20px !important;
  font-size: 1.4rem !important;

}

#clients2 {
  background-color: #eeeeee;
  margin-top: 30px !important;
}

#client {
  width: 90% !important;
  margin-right: 5% !important;
  margin-left: 5% !important;
  font-size: 1.1rem !important;
}
.kontakt {
  top: -175px !important;
  position: relative;
  background-position-x: -145px !important;
  background-size: cover !important;
  text-shadow: 0px 0px 4px #2b2b2b !important;
  color: white !important;
  background-image: url(/kontakt2.png) !important;

}
#kontakt {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  
}

#map {
  margin-top: 0px !important;
  top: -150px !important;
  position: relative;
}

.footer {
  flex-direction: column !important;
  align-items: center;
  margin-top: 40px !important;
  top: -100px !important;
  position: relative;
}

#footer1 {
  width: 100% !important;
}

#footer2 {
  align-self: auto !important;
  width: unset !important;
  margin-top: 40px;
}
.footer-anchor {
  margin: 5px 10px !important;
}

}

@media only screen and (min-width: 2500px) {
  
body {
  font-size: 23px !important;
   }

h1 {
  font-size: 1.8rem !important;
}

h3 {
  font-size: 2rem !important;
}

h4 {
  font-size: 1.6rem !important;
}
.abouts {
  padding-top: 100px !important;
}
.intro {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.intro_bg
{
  font-size: 1.8rem !important;
}

.gandhi2 {
  font-size: 2.4rem !important;
}
.gandhi3 {
  font-size: 1.8rem !important;
}

#redspec {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

}

/* unvisited link */
a:link {
  color: #d33934;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #d33934;
  text-decoration: none;
}
a {
  display: inline;
}
/* mouse over link */
a:hover {
  color: #c45450;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #d33934;
  text-decoration: none;
}

#intro {
  transition: left 1.5s;
  position: relative;
  z-index: 1;
  margin-top: 50px;
}
  .container {
    width: 100%;
    margin: auto;
  }
  
  .navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgba(0, 1, 2, 0.15);
    background-color: #822825;
    position: fixed;
    z-index: 5;
  }

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  
  .navbar .menu-items {
    z-index: 2;
    position: relative;
    display: flex;
  }
  
  .navbar .nav-container li {
    list-style: none;
  }
  
  .navbar .nav-container a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 0.7rem;
  }
  
  .navbar .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    padding-top: 120px;
    background-color: #822825;
    height: 100vh;
    width: 50%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    opacity: 0.95;
  }
  
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .logo {
    position: absolute;
    top: 7.5px;
    right: 15px;
    font-size: 1.2rem;
    color: #ffffff;
  }

  #gandhi {
    background-color: #822825;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: center;
    align-items: center;
  }

  .gandhi2 {
    font-size: 1.7rem;
    font-style: italic;
    color: #ffffff;
    align-items: center;
    margin-top: 30px;
    text-shadow: 0px 0px 4px #3b1a19;
  }

  .gandhi3 {
    font-size: 1.2rem;
    color: #ffffff;
    text-align: right;
    margin-left: 50%;
    margin-top: 20px;
  }

  .white {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    display: flex;
    align-items: center;
  }

  #coaching {
    flex-direction: row;
    text-align: left;
    margin-bottom: 100px;
    margin-top: 100px;
  }

  #clients1 {
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
  }

  #clients2 {
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  
  #client {
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5px;
    color: #1E1E1E;
    font-weight: 500;
    font-size: 1.5rem;
  }
  
  #coachingpicture {
    background: url(coach.png);
    background-size: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
  }

  .kontakt {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("kontakt.png");
    background-size: cover;
    background-position: center;
    background-color: #1E1E1E;
    text-shadow: 1px 1px 4px #1E1E1E;
  }

  #kontakt {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
    width: 80%;
    color: #E5E5E5;
  }

  #kontakt2 {
    padding-top: 10px;
    font-weight: 500;
  }

  #map {
    margin-top: 50px;
    width: 100%;
  }

  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  

  .intro_bg {
    background-color: #6E1E1B;
    color: #ffffff;
    font-size: 1.5rem;
    padding-top: 50px;
    padding-bottom: 50px; 
}

  .grey {
    background-color: #2B2B2B;
    color: #ffffff;
    font-size: 1.5rem;
}

  .happygroup {
    background: url(group_1.png);
    background-size: 100%;
    height: 700px;
    background-position-y: 20px;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-self: left;
  }

  .greyimage {
    width: 90%;
  }


  .intro {
    flex-direction: column;
    text-align: left;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 7.8%;
    width: 50%;
    justify-content: center;
  }

  .staray {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    width: 35%;
  }

  .abouts {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-right: 30px;
    padding-top: 50px;
    width: 50%;
  }

.about {
    color: #000000;
    justify-content: center;
}
.quote_bg {
    background-color: #5D0000;
}


.left {
    align-items: left;
}

.right { 
    text-align: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
}

#stara {
    position: relative;
    top: -175px;
  }

#redspec {
    position: relative;
    top: -470px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  
.redspec {
    background-color: #6E1E1B;
    opacity: 0.85;
    
}

#listing {
  padding-bottom: 33px;
  padding-top: 31px;
}

h4 {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.3rem;
}

h1
{
  color: #BF2E2E;
  font-weight: 600;
  font-size: 1.6rem;
}

h3 {
  color: #E5E5E5;
  font-weight: 600;
  font-size: 1.9rem;
}

h5
{
  color: #BF2E2E;
  font-weight: 400;
  font-size: 1.5rem;
}
 
.footer {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: row;
  width: 100%;
  margin-top: 50px;
  justify-content: center;
}

#footer1 {
  text-align: left;
  font-size: 0.8rem;
  width: 80%;
} 

#footer2 {
  display: flex;
  align-items: right;
  align-content: flex-end;
  align-self: flex-end;
  width: 20%;
} 

.footer3 {
  height: 30px;
}

.footer-anchor{
  margin-left: 20px;
}

#footer4 {
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 50px;
} 


.board {
  position: relative;
  top: -250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: right;
  width: 100%;
  justify-content: right;
}

.board2 {
  position: relative;
  top: -100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: left;
  width: 100%;
  justify-content: left;
}

#gordo
{
  width: 100%;
}

.boardinfo {
  flex-direction: column;
  text-align: left;
  margin-left: 5%;
  padding-right: 7px;
  width: 45%;
}

.boardinfo2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 5%;
  padding-left: 7px;
  width: 37%;
}

.boardpicture {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 7%;
  width: 40%;
}

.boardpicture2 {
  display: flex;
  flex-direction: column;
  margin-right: 7%;
  text-align: left;
  width: 45%;
}

.boardpicture3 {
  display: none;
}

.icon {
  width: 60px;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-right: 50px;

}

.redspec-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 50%;
}

#understara {
    padding-top: 10px;

}

.scroll-tracker {
    position: fixed;
    inset: 0 0 auto;
    height: 0.25rem;
    background-color: #7E2828;
    transform-origin: left;
}

